In [10]:
import pandas as pd
from os import listdir
from os import getcwd
from os.path import isfile, join
import numpy as np

In [2]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\again\anaconda3\envs\pythondata\lib\site-packages (4.6.3)

In [4]:
#retrieve list of files
path = 'raw_asc'
onlyfiles = [f for f in listdir(path) if isfile(join(path,f))]
onlyfiles

['ontime.td.201911.asc', 'ontime.td.201912.asc']

In [5]:
#retrieve headers from site
header_list = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form3a.aspx')[2]
header_list.to_csv('headers_list.csv')

In [14]:
#combine dataframes
combined = pd.DataFrame()
for f in onlyfiles:
    airline = pd.read_table('raw_asc/'+ f , delimiter = "|", header = None, low_memory = False)
    #airline.rename(headers,axis=1,inplace=True)
    airline.drop(airline.columns[[2,3,4,5,11,14,16,17,26,27,28,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]],axis=1,inplace=True)
    combined = combined.append(airline)
combined

,0,1,6,7,8,9,10,12,13,15,...,29,30,31,32,33,34,35,36,37,38
0,DL,3497,JFK,RDU,20191103,7,1145,1141,1333,1328,...,NaN,0,0,0,0,0,0,0,0,0
1,DL,3497,JFK,RDU,20191104,1,1145,1144,1332,1338,...,NaN,0,0,0,0,0,0,0,0,0
2,DL,3497,JFK,RDU,20191105,2,1145,1140,1332,1314,...,NaN,0,0,0,0,0,0,0,0,0
3,DL,3497,JFK,RDU,20191106,3,1145,1136,1332,1309,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,3497,JFK,RDU,20191107,4,1145,1140,1332,1330,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,NaN,0,0,0,0,0,0,0,0,0
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,NaN,0,0,0,0,0,0,0,0,0
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,NaN,0,0,0,0,0,0,0,0,0
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,NaN,0,0,0,0,0,0,0,0,0
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,NaN,0,462,26,0,0,0,0,0,0

In [15]:
#reindex columns
columns=[]
for x in range(28):
    columns.append(x)
combined.columns = columns
combined

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,DL,3497,JFK,RDU,20191103,7,1145,1141,1333,1328,...,NaN,0,0,0,0,0,0,0,0,0
1,DL,3497,JFK,RDU,20191104,1,1145,1144,1332,1338,...,NaN,0,0,0,0,0,0,0,0,0
2,DL,3497,JFK,RDU,20191105,2,1145,1140,1332,1314,...,NaN,0,0,0,0,0,0,0,0,0
3,DL,3497,JFK,RDU,20191106,3,1145,1136,1332,1309,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,3497,JFK,RDU,20191107,4,1145,1140,1332,1330,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,NaN,0,0,0,0,0,0,0,0,0
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,NaN,0,0,0,0,0,0,0,0,0
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,NaN,0,0,0,0,0,0,0,0,0
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,NaN,0,0,0,0,0,0,0,0,0
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,NaN,0,462,26,0,0,0,0,0,0

In [19]:
#read in mapped headers
headers = pd.read_csv('headers_mapping.csv').to_dict()['Field']
headers

{0: 'Mkt_Ccode',
 1: 'Mkt_Fl_No',
 2: 'Dep_Airport',
 3: 'Arr_Airport',
 4: 'Date',
 5: 'Day_Week',
 6: 'Sched_Dep_Time_OAG',
 7: 'Gate_Dep_Time_Actual',
 8: 'Sched_Arr_Time_OAG',
 9: 'Gate_Arr_Time_Actual',
 10: 'Sched_Elapsed_Time_CRS',
 11: 'Actual_Gate_Gate_Time',
 12: 'Dep_Delay_Time_Actual',
 13: 'Arr_Delay_Time_Actual',
 14: 'Elapsed_Time_Diff_Actual',
 15: 'Wheels_Off_Time_Actual',
 16: 'Wheels_On_Time_Actual',
 17: 'Tail_Number',
 18: 'Cancel_Code',
 19: 'Mins_Late_Delay_Code_E_Carrier',
 20: 'Mins_Late_Delay_Code_F_Weather',
 21: 'Mins_Late_Delay_Code_G_NAS',
 22: 'Mins_Late_Delay_Code_H_Security',
 23: 'Mins_Late_Delay_Code_I_Late_Arr_Flight',
 24: 'First_Gate_Dep_Time',
 25: 'Total_Ground_Away_From_Gate',
 26: 'Longest_Ground_Time_Away_From_Gate',
 27: 'No_Landings_At_Div_Airport'}

In [24]:
#rename columns
combined.rename(headers,axis=1,inplace=True)
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month
0,DL,3497,JFK,RDU,20191103,sun,1145,1141,1333,1328,...,0,0,0,0,0,0,0,0,0,nov
1,DL,3497,JFK,RDU,20191104,mon,1145,1144,1332,1338,...,0,0,0,0,0,0,0,0,0,nov
2,DL,3497,JFK,RDU,20191105,tue,1145,1140,1332,1314,...,0,0,0,0,0,0,0,0,0,nov
3,DL,3497,JFK,RDU,20191106,wed,1145,1136,1332,1309,...,0,0,0,0,0,0,0,0,0,nov
4,DL,3497,JFK,RDU,20191107,thu,1145,1140,1332,1330,...,0,0,0,0,0,0,0,0,0,nov
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,sun,1220,1225,1540,1527,...,0,0,0,0,0,0,0,0,0,dec
679992,UA,5418,CHS,ORD,20191229,sun,1649,1638,1829,1749,...,0,0,0,0,0,0,0,0,0,dec
679993,UA,5608,ORF,ORD,20191228,sat,1845,1840,2023,2007,...,0,0,0,0,0,0,0,0,0,dec
679994,UA,5592,ORD,ORF,20191228,sat,1456,1449,1814,1750,...,0,0,0,0,0,0,0,0,0,dec
679995,UA,5829,DEN,RAP,20191202,mon,15,757,133,941,...,0,462,26,0,0,0,0,0,0,dec

In [21]:
#convert 'ccyymmdd' to abbreviation for month name
combined['month'] = combined['Date'].astype(str)
airline_list = combined['month'].to_list()
month = [i[4:6] for i in airline_list]
month_dict = {'01':'jan', '02':'feb', '03':'mar', '04':'apr', '05':'may', '06':'jun', '07':'jul', '08':'aug', '09':'sep', '10':'oct', '11':'nov', '12':'dec'}
month_dict2 = [month_dict[j] for j in month]
combined['month'] = month_dict2
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month
0,DL,3497,JFK,RDU,20191103,7,1145,1141,1333,1328,...,0,0,0,0,0,0,0,0,0,nov
1,DL,3497,JFK,RDU,20191104,1,1145,1144,1332,1338,...,0,0,0,0,0,0,0,0,0,nov
2,DL,3497,JFK,RDU,20191105,2,1145,1140,1332,1314,...,0,0,0,0,0,0,0,0,0,nov
3,DL,3497,JFK,RDU,20191106,3,1145,1136,1332,1309,...,0,0,0,0,0,0,0,0,0,nov
4,DL,3497,JFK,RDU,20191107,4,1145,1140,1332,1330,...,0,0,0,0,0,0,0,0,0,nov
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,0,0,0,0,0,0,0,0,0,dec
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,0,0,0,0,0,0,0,0,0,dec
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,0,0,0,0,0,0,0,0,0,dec
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,0,0,0,0,0,0,0,0,0,dec
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,0,462,26,0,0,0,0,0,0,dec

In [22]:
#change numeric day of week to abbreviated name
day_dict = {1:'mon', 2:'tue', 3:'wed', 4:'thu', 5:'fri', 6:'sat', 7:'sun'}
day_list = combined['Day_Week'].to_list()
day_name = [day_dict[day_num] for day_num in day_list]
combined['Day_Week'] = day_name
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month
0,DL,3497,JFK,RDU,20191103,sun,1145,1141,1333,1328,...,0,0,0,0,0,0,0,0,0,nov
1,DL,3497,JFK,RDU,20191104,mon,1145,1144,1332,1338,...,0,0,0,0,0,0,0,0,0,nov
2,DL,3497,JFK,RDU,20191105,tue,1145,1140,1332,1314,...,0,0,0,0,0,0,0,0,0,nov
3,DL,3497,JFK,RDU,20191106,wed,1145,1136,1332,1309,...,0,0,0,0,0,0,0,0,0,nov
4,DL,3497,JFK,RDU,20191107,thu,1145,1140,1332,1330,...,0,0,0,0,0,0,0,0,0,nov
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,sun,1220,1225,1540,1527,...,0,0,0,0,0,0,0,0,0,dec
679992,UA,5418,CHS,ORD,20191229,sun,1649,1638,1829,1749,...,0,0,0,0,0,0,0,0,0,dec
679993,UA,5608,ORF,ORD,20191228,sat,1845,1840,2023,2007,...,0,0,0,0,0,0,0,0,0,dec
679994,UA,5592,ORD,ORF,20191228,sat,1456,1449,1814,1750,...,0,0,0,0,0,0,0,0,0,dec
679995,UA,5829,DEN,RAP,20191202,mon,15,757,133,941,...,0,462,26,0,0,0,0,0,0,dec

In [25]:
#make factor-valued flag indicating whether a flight was late
arrival_delay = combined['Arr_Delay_Time_Actual'].to_list()

arrival_flag = []

for i in arrival_delay:
    if i > 0:
        arrival_flag.append(1)
    else:
        arrival_flag.append(0)

combined['Arr_Delay_Time_Actual_Flag'] = arrival_flag

In [26]:
#change departure time to time blocks
departure_time_list = combined['Sched_Dep_Time_OAG'].to_list()

departure_block = []

for i in departure_time_list:
    if 0 <= i <= 259:
        departure_block.append("late_night")
    elif 300 <= i <= 559:
        departure_block.append("early_morning")
    elif 600 <= i <= 859:
        departure_block.append("morning")
    elif 900 <= i <= 1159:
        departure_block.append("late_morning")
    elif 1200 <= i <= 1459:
        departure_block.append("early_afternoon")
    elif 1500 <= i <= 1759:
        departure_block.append("late_afternoon")
    elif 1800 <= i <= 2059:
        departure_block.append("evening")
    elif 2100 <= i <= 2359:
        departure_block.append("late_evening")

combined['Sched_Dep_Time_OAG_Block'] = departure_block
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month,Arr_Delay_Time_Actual_Flag,Sched_Dep_Time_OAG_Block
0,DL,3497,JFK,RDU,20191103,sun,1145,1141,1333,1328,...,0,0,0,0,0,0,0,nov,0,late_morning
1,DL,3497,JFK,RDU,20191104,mon,1145,1144,1332,1338,...,0,0,0,0,0,0,0,nov,1,late_morning
2,DL,3497,JFK,RDU,20191105,tue,1145,1140,1332,1314,...,0,0,0,0,0,0,0,nov,0,late_morning
3,DL,3497,JFK,RDU,20191106,wed,1145,1136,1332,1309,...,0,0,0,0,0,0,0,nov,0,late_morning
4,DL,3497,JFK,RDU,20191107,thu,1145,1140,1332,1330,...,0,0,0,0,0,0,0,nov,0,late_morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,sun,1220,1225,1540,1527,...,0,0,0,0,0,0,0,dec,0,early_afternoon
679992,UA,5418,CHS,ORD,20191229,sun,1649,1638,1829,1749,...,0,0,0,0,0,0,0,dec,0,late_afternoon
679993,UA,5608,ORF,ORD,20191228,sat,1845,1840,2023,2007,...,0,0,0,0,0,0,0,dec,0,evening
679994,UA,5592,ORD,ORF,20191228,sat,1456,1449,1814,1750,...,0,0,0,0,0,0,0,dec,0,early_afternoon
679995,UA,5829,DEN,RAP,20191202,mon,15,757,133,941,...,26,0,0,0,0,0,0,dec,1,late_night

In [8]:
import psycopg2
#!pip install config
import config
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [9]:
#CREATE DB
# Connect to PostgreSQL DBMS
con = psycopg2.connect("user=postgres password='XXXX'");
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#connect to postgresql dbms
conn = psycopg2.connect("user=postgres password='XXXX'");
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#obtain db cursor
cursor = con.cursor();
name_database = "airline_db"

#create table statement
sqlCreateDatabase = "create database "+name_database+";"

#create a table in postgres
cursor.execute(sqlCreateDatabase);

DuplicateDatabase: database "airline_db" already exists

#CREATE TABLE


#connect to table
postgresConnection = psycopg2.connect("dbname=airline_db user=postgres password='XXXX'")

#get cursor object from database connection
cursor = postgresConnection.cursor()
name_table = 'main_airline'

#create table statement
sqlcreatetable = "CREATE TABLE "+name_table+" (Mkt_Ccode VARCHAR(2), Mkt_Fl_No VARCHAR(4),Dep_Airport VARCHAR(3),Arr_Airport VARCHAR(3),Date DATE,Day_Week SMALLINT,Sched_Dep_Time_OAG TIMESTAMP,Gate_Dep_Time_Actual TIMESTAMP,Sched_Arr_Time_OAG TIMESTAMP,Gate_Arr_Time_Actual TIMESTAMP,Sched_Elapsed_Time_CRS TIMESTAMP,Actual_Gate_Gate_Time TIMESTAMP,Dep_Delay_Time_Actual TIMESTAMP,Arr_Delay_Time_Actual TIMESTAMP,Elapsed_Time_Diff_Actual SMALLINT,Wheels_Off_Time_Actual SMALLINT,Wheels_On_Time_Actual SMALLINT,Tail_Number VARCHAR(6),Cancel_Code VARCHAR(1),Mins_Late_Delay_Code_E_Carrier SMALLINT,Mins_Late_Delay_Code_F_Weather SMALLINT,Mins_Late_Delay_Code_G_NAS SMALLINT,Mins_Late_Delay_Code_H_Security SMALLINT,Mins_Late_Delay_Code_I_Late_Arr_Flight SMALLINT,First_Gate_Dep_Time TIMESTAMP,Total_Ground_Away_From_Gate SMALLINT,Longest_Ground_Time_Away_From_Gate SMALLINT,No_Landings_At_Div_Airport SMALLINT);"

#create in database
cursor.execute(sqlcreatetable)
postgresConnection.commit()

In [12]:
#connect to table
postgresConnection = psycopg2.connect("dbname=airline_db user=postgres password='XXXX'")

#get cursor object from database connection
cursor = postgresConnection.cursor()
sqlstmt = "DROP TABLE main_airline;"

cursor.execute(sqlstmt)
postgresConnection.commit()

In [10]:
combined.to_csv('main_airline.csv')

In [11]:
#load data
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:XXX@localhost:5432/airline_db')
combined.to_sql('main_airline',engine)