In [3]:
import pandas as pd

In [9]:
import os
raw_files = os.listdir('raw_asc')
print(raw_files)

['ontime.td.202009.asc', 'ontime.td.202008.asc', 'ontime.td.202012.asc', 'ontime.td.202011.asc', 'ontime.td.202010.asc', 'ontime.td.202105.asc', 'ontime.td.202104.asc', 'ontime.td.202103.asc', 'ontime.td.202102.asc', 'ontime.td.202101.asc']

In [15]:
for fn in raw_files:
    airline = pd.read_table('raw_asc/'+ fn, delimiter = "|", header = None, low_memory = False)
    print(airline.head())

   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200908   2  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200909   3  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200910   4  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200911   5  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200912   6  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  CAE  ATL  20200801   6  ...   0 NaN NaN   0
1  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200801   6  ...   0 NaN NaN   0
2  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200802   7  ...   0 NaN NaN   0
3  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200803   1  ...   0 NaN NaN   0
4  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200804   2  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201201   2  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201203   4  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201204   5  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201206   7  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201207   1  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  BDL  DTW  20201126   4  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201108   7  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201109   1  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201112   4  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201113   5  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201001   4  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201002   5  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201004   7  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201005   1  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201008   4  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1   2       3   4     5    6    7         8   9   ...  61  62  63  \
0  DL  4086  OO  4086.0  9E  5542  DTW  BNA  20210514   5  ...   0 NaN NaN
1  DL  3711  OO  3711.0  9E  5539  MSP  GRR  20210513   4  ...   0 NaN NaN
2  DL  5821  YX  5821.0  9E  5542  LGA  DCA  20210502   7  ...   0 NaN NaN
3  DL  5806  YX  5806.0  9E  5543  DCA  LGA  20210502   7  ...   0 NaN NaN
4  DL  5823  YX  5823.0  9E  5546  CLT  DTW  20210502   7  ...   0 NaN NaN

   64  65  66  67  68       69  70
0   0   0   0   0 NaN  FORM-3A   N
1   0   0   0   0 NaN  FORM-3A   N
2   0   0   0   0 NaN  FORM-3A   N
3   0   0   0   0 NaN  FORM-3A   N
4   0   0   0   0 NaN  FORM-3A   N

[5 rows x 71 columns]
   0     1    2       3   4     5    6    7         8   9   ...  61  62  63  \
0  DL  5811   YX  5811.0  9E  5538  MCI  LGA  20210405   1  ...   0 NaN NaN
1  DL  3744   OO  3744.0  9E  5539  DTW  MKE  20210401   4  ...   0 NaN NaN
2  DL  3675   OO  3675.0  9E  5540  MKE  DTW  20210401   4  ...   0 NaN NaN
3  DL  4628  NaN     NaN  9E  4628  ATL  HSV  20210401   4  ...   0 NaN NaN
4  DL  4628  NaN     NaN  9E  4628  ATL  HSV  20210402   5  ...   0 NaN NaN

   64  65  66  67  68       69  70
0   0   0   0   0 NaN  FORM-3A   N
1   0   0   0   0 NaN  FORM-3A   N
2   0   0   0   0 NaN  FORM-3A   N
3   0   0   0   0 NaN   FORM-1   N
4   0   0   0   0 NaN   FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  ATL  HSV  20210302   2  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  ATL  HSV  20210303   3  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  ATL  HSV  20210304   4  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  ATL  HSV  20210305   5  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  ATL  HSV  20210306   6  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4629  NaN NaN  9E  4629  ATL  CAE  20210202   2  ...   0 NaN NaN   0
1  DL  4629  NaN NaN  9E  4629  ATL  CAE  20210209   2  ...   0 NaN NaN   0
2  DL  4629  NaN NaN  9E  4629  ATL  CAE  20210216   2  ...   0 NaN NaN   0
3  DL  4629  NaN NaN  9E  4629  ATL  CAE  20210217   3  ...   0 NaN NaN   0
4  DL  4629  NaN NaN  9E  4629  ATL  CAE  20210223   2  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1   2       3   4     5    6    7         8   9   ...  61  62  63  \
0  DL  3521  OO  3521.0  9E  5540  DTW  BNA  20210117   7  ...   0 NaN NaN
1  DL  3544  OO  3544.0  9E  5539  ORD  DTW  20210131   7  ...   0 NaN NaN
2  DL  3976  OO  3976.0  9E  5538  DTW  LAN  20210104   1  ...   0 NaN NaN
3  DL  3976  OO  3976.0  9E  5539  LAN  DTW  20210104   1  ...   0 NaN NaN
4  DL  3544  OO  3544.0  9E  5538  DTW  ORD  20210131   7  ...   0 NaN NaN

   64  65  66  67  68       69  70
0   0   0   0   0 NaN  FORM-3A   N
1   0   0   0   0 NaN  FORM-3A   N
2   0   0   0   0 NaN  FORM-3A   N
3   0   0   0   0 NaN  FORM-3A   N
4   0   0   0   0 NaN  FORM-3A   N

[5 rows x 71 columns]

In [20]:
print(list(airline.iloc[0]))

['DL', 3521, 'OO', 3521.0, '9E', 5540, 'DTW', 'BNA', 20210117, 7, 2125, 2125, 2151, 2221, 2221, 2233, 0, 0, 56, 102, 26, 12, 46, 2218, 2226, 'N923XJ', 27, 7, 68, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, 'FORM-3A', 'N']

In [27]:
form_1_labels = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form1.aspx')[2]

In [26]:
form_3A_labels = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form3A.aspx')[2]

In [28]:
form_1_labels

,Field,Field Description,Data Type,Length,Comments
0,A,Carrier code,Character,2,Two letter IATA code
1,B,Flight number,Character,Max length of 4,NaN
2,C,Departure airport code,Character,3,Three letter Airport code
3,D,Arrival airport code,Character,3,Three letter Airport code
4,E,Date of flight operation,Num,8,Format ccyymmdd
...,...,...,...,...,...
57,BF,Wheels-on time at diverted airport,Num,4,Local time 24 hour clock
58,BG,Total ground time away from gate at diverted a...,Num,Max length of 4,In minutes
59,BH,Longest ground time away from gate at diverted...,Num,Max length of 4,In minutes
60,BI,Wheels-off time (actual) at diverted airport,Num,4,Local time 24 hour clock
61,BJ,Aircraft tail number,Character,6,NaN

In [30]:
form_3A_labels.head(20)

,Field,Field Description,Data Type,Length,Comments
0,A1,Marketing Carrier code,Character,2,Two letter IATA code
1,B1,Marketing Carrier Flight number,Character,Max length of 4,NaN
2,A2,Scheduled Operating Carrier Code,Character,2,Two letter IATA code
3,B2,Scheduled Operating Carrier Flight number,Character,Max length of 4,NaN
4,A3,Actual Operating Carrier Code,Character,2,Two letter IATA code
5,B3,Actual Operating Carrier Flight Number,Character,Max length of 4,NaN
6,C,Departure airport code,Character,3,Three letter Airport code
7,D,Arrival airport code,Character,3,Three letter Airport code
8,E,Date of flight operation,Num,8,Format ccyymrndd
9,F,Day of the week of flight operation,Num,1,"Mon = 1 , Sun = 7"
10,G8,Scheduled departure time as shown in Official ...,Num,4,Local time 24 hour clock
11,H,Scheduled departure time as shown in CRS(selec...,Num,4,Local time 24 hour clock
12,I,Gate departure time (actual),Num,4,Local time 24 hour clock
13,J,Scheduled arrival time per OAG,Num,4,Local time 24 hour clock
14,K,Scheduled arrival time per CRS,Num,4,Local time 24 hour clock
15,L,Gate arrival time (actual),Num,4,Local time 24 hour clock
16,M,Difference between OAG and CRS scheduled depar...,Num,Max length of 4,In minutes (2 hours= 120 min) G minus H
17,N,Difference between OAG and CRS scheduled arriv...,Num,Max length of 4,In minutes - J minus K
18,O,Scheduled elapsed time per CRS,Num,Max length of 4,In minutes - K minus H
19,P,Actual gate-to-gate time,Num,Max length of 4,In minutes - L minus I

In [33]:
airline.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70],
           dtype='int64')

In [32]:
form_3A_labels

,Field,Field Description,Data Type,Length,Comments
0,A1,Marketing Carrier code,Character,2,Two letter IATA code
1,B1,Marketing Carrier Flight number,Character,Max length of 4,NaN
2,A2,Scheduled Operating Carrier Code,Character,2,Two letter IATA code
3,B2,Scheduled Operating Carrier Flight number,Character,Max length of 4,NaN
4,A3,Actual Operating Carrier Code,Character,2,Two letter IATA code
...,...,...,...,...,...
61,BF,Wheels-on time at diverted airport,Num,4,Local time 24 hour clock
62,BG,Total ground time away from gate at diverted a...,Num,Max length of 4,In minutes
63,BH,Longest ground time away from gate at diverted...,Num,Max length of 4,In minutes
64,BI,Wheels-off time (actual) at diverted airport,Num,4,Local time 24 hour clock
65,BJ,Aircraft tail number,Character,6,NaN

In [36]:
x = list(form_3A_labels['Field'])

In [38]:
y= pd.DataFrame(x, x)

In [40]:
y.to_dict()[0]

{'A1': 'A1',
 'B1': 'B1',
 'A2': 'A2',
 'B2': 'B2',
 'A3': 'A3',
 'B3': 'B3',
 'C': 'C',
 'D': 'D',
 'E': 'E',
 'F': 'F',
 'G8': 'G8',
 'H': 'H',
 'I': 'I',
 'J': 'J',
 'K': 'K',
 'L': 'L',
 'M': 'M',
 'N': 'N',
 'O': 'O',
 'P': 'P',
 'Q': 'Q',
 'R': 'R',
 'S': 'S',
 'T': 'T',
 'U': 'U',
 'V': 'V',
 'W': 'W',
 'X': 'X',
 'Y': 'Y',
 'Z': 'Z',
 'AA': 'AA',
 'AB': 'AB',
 'AC': 'AC',
 'AD': 'AD',
 'AE': 'AE',
 'AF': 'AF',
 'AG': 'AG',
 'AH': 'AH',
 'AI': 'AI',
 'AJ': 'AJ',
 'AK': 'AK',
 'AL': 'AL',
 'AM': 'AM',
 'AN': 'AN',
 'AO': 'AO',
 'AP': 'AP',
 'AQ': 'AQ',
 'AR': 'AR',
 'AS': 'AS',
 'AT': 'AT',
 'AU': 'AU',
 'AV': 'AV',
 'AW': 'AW',
 'AX': 'AX',
 'AY': 'AY',
 'AZ': 'AZ',
 'BA': 'BA',
 'BB': 'BB',
 'BC': 'BC',
 'BD': 'BD',
 'BE': 'BE',
 'BF': 'BF',
 'BG': 'BG',
 'BH': 'BH',
 'BI': 'BI',
 'BJ': 'BJ'}