In [1]:
import pandas as pd
from os import listdir
from os import getcwd
from os.path import isfile, join
import numpy as np

In [2]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\again\anaconda3\envs\pythondata\lib\site-packages (4.6.3)

In [2]:
#retrieve list of files
path = 'raw_asc'
onlyfiles = [f for f in listdir(path) if isfile(join(path,f))]
onlyfiles

['ontime.td.201801.asc',
 'ontime.td.201802.asc',
 'ontime.td.201803.asc',
 'ontime.td.201804.asc',
 'ontime.td.201805.asc',
 'ontime.td.201806.asc',
 'ontime.td.201807.asc',
 'ontime.td.201808.asc',
 'ontime.td.201809.asc',
 'ontime.td.201810.asc',
 'ontime.td.201811.asc',
 'ontime.td.201812.asc']

In [8]:
#retrieve headers from site
header_list = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form3a.aspx')[2]
header_list.to_csv('headers_list.csv')

In [3]:
#combine dataframes
combined = pd.DataFrame()
for f in onlyfiles:
    airline = pd.read_table('raw_asc/'+ f , delimiter = "|", header = None, low_memory = False)
    #airline.rename(headers,axis=1,inplace=True)
    airline.drop(airline.columns[[2,3,4,5,11,14,16,17,26,27,28,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]],axis=1,inplace=True)
    combined = combined.append(airline)
combined

,0,1,6,7,8,9,10,12,13,15,...,29,30,31,32,33,34,35,36,37,38
0,DL,3615.0,CID,ATL,20180116,2,1705,1650,2009,1943,...,NaN,0,0,0,0,0,0,0,0,0
1,DL,3615.0,CID,ATL,20180117,3,1705,0,2009,0,...,B,0,0,0,0,0,0,0,0,0
2,DL,3615.0,CID,ATL,20180118,4,1705,1928,2009,2231,...,NaN,0,0,0,0,142,0,0,0,0
3,DL,3615.0,CID,ATL,20180119,5,1705,1657,2009,1952,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,3615.0,CID,ATL,20180120,6,1244,1231,1557,1522,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,7,1800,1904,1925,2020,...,NaN,55,0,0,0,0,0,0,0,0
649500,UA,4361.0,ROC,ORD,20181204,2,1855,1918,1956,2011,...,NaN,15,0,0,0,0,0,0,0,0
649501,UA,4038.0,ORD,GRB,20181204,2,1010,1135,1115,1244,...,NaN,85,0,4,0,0,0,0,0,0
649502,UA,4010.0,GRB,ORD,20181204,2,1200,1313,1320,1427,...,NaN,67,0,0,0,0,0,0,0,0
649503,UA,3984.0,ORD,ROC,20181204,2,1536,1530,1820,1852,...,NaN,0,0,32,0,0,0,0,0,0

In [4]:
#reindex columns
columns=[]
for x in range(28):
    columns.append(x)
combined.columns = columns
combined

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,DL,3615.0,CID,ATL,20180116,2,1705,1650,2009,1943,...,NaN,0,0,0,0,0,0,0,0,0
1,DL,3615.0,CID,ATL,20180117,3,1705,0,2009,0,...,B,0,0,0,0,0,0,0,0,0
2,DL,3615.0,CID,ATL,20180118,4,1705,1928,2009,2231,...,NaN,0,0,0,0,142,0,0,0,0
3,DL,3615.0,CID,ATL,20180119,5,1705,1657,2009,1952,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,3615.0,CID,ATL,20180120,6,1244,1231,1557,1522,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,7,1800,1904,1925,2020,...,NaN,55,0,0,0,0,0,0,0,0
649500,UA,4361.0,ROC,ORD,20181204,2,1855,1918,1956,2011,...,NaN,15,0,0,0,0,0,0,0,0
649501,UA,4038.0,ORD,GRB,20181204,2,1010,1135,1115,1244,...,NaN,85,0,4,0,0,0,0,0,0
649502,UA,4010.0,GRB,ORD,20181204,2,1200,1313,1320,1427,...,NaN,67,0,0,0,0,0,0,0,0
649503,UA,3984.0,ORD,ROC,20181204,2,1536,1530,1820,1852,...,NaN,0,0,32,0,0,0,0,0,0

In [5]:
#read in mapped headers
headers = pd.read_csv('headers_mapping.csv').to_dict()['Field']
headers

{0: 'Mkt_Ccode',
 1: 'Mkt_Fl_No',
 2: 'Dep_Airport',
 3: 'Arr_Airport',
 4: 'Date',
 5: 'Day_Week',
 6: 'Sched_Dep_Time_OAG',
 7: 'Gate_Dep_Time_Actual',
 8: 'Sched_Arr_Time_OAG',
 9: 'Gate_Arr_Time_Actual',
 10: 'Sched_Elapsed_Time_CRS',
 11: 'Actual_Gate_Gate_Time',
 12: 'Dep_Delay_Time_Actual',
 13: 'Arr_Delay_Time_Actual',
 14: 'Elapsed_Time_Diff_Actual',
 15: 'Wheels_Off_Time_Actual',
 16: 'Wheels_On_Time_Actual',
 17: 'Tail_Number',
 18: 'Cancel_Code',
 19: 'Mins_Late_Delay_Code_E_Carrier',
 20: 'Mins_Late_Delay_Code_F_Weather',
 21: 'Mins_Late_Delay_Code_G_NAS',
 22: 'Mins_Late_Delay_Code_H_Security',
 23: 'Mins_Late_Delay_Code_I_Late_Arr_Flight',
 24: 'First_Gate_Dep_Time',
 25: 'Total_Ground_Away_From_Gate',
 26: 'Longest_Ground_Time_Away_From_Gate',
 27: 'No_Landings_At_Div_Airport'}

In [6]:
#rename columns
combined.rename(headers,axis=1,inplace=True)
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Cancel_Code,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport
0,DL,3615.0,CID,ATL,20180116,2,1705,1650,2009,1943,...,NaN,0,0,0,0,0,0,0,0,0
1,DL,3615.0,CID,ATL,20180117,3,1705,0,2009,0,...,B,0,0,0,0,0,0,0,0,0
2,DL,3615.0,CID,ATL,20180118,4,1705,1928,2009,2231,...,NaN,0,0,0,0,142,0,0,0,0
3,DL,3615.0,CID,ATL,20180119,5,1705,1657,2009,1952,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,3615.0,CID,ATL,20180120,6,1244,1231,1557,1522,...,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,7,1800,1904,1925,2020,...,NaN,55,0,0,0,0,0,0,0,0
649500,UA,4361.0,ROC,ORD,20181204,2,1855,1918,1956,2011,...,NaN,15,0,0,0,0,0,0,0,0
649501,UA,4038.0,ORD,GRB,20181204,2,1010,1135,1115,1244,...,NaN,85,0,4,0,0,0,0,0,0
649502,UA,4010.0,GRB,ORD,20181204,2,1200,1313,1320,1427,...,NaN,67,0,0,0,0,0,0,0,0
649503,UA,3984.0,ORD,ROC,20181204,2,1536,1530,1820,1852,...,NaN,0,0,32,0,0,0,0,0,0

In [7]:
#convert 'ccyymmdd' to abbreviation for month name
combined['month'] = combined['Date'].astype(str)
airline_list = combined['month'].to_list()
month = [i[4:6] for i in airline_list]
month_dict = {'01':'jan', '02':'feb', '03':'mar', '04':'apr', '05':'may', '06':'jun', '07':'jul', '08':'aug', '09':'sep', '10':'oct', '11':'nov', '12':'dec'}
month_dict2 = [month_dict[j] for j in month]
combined['month'] = month_dict2
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month
0,DL,3615.0,CID,ATL,20180116,2,1705,1650,2009,1943,...,0,0,0,0,0,0,0,0,0,jan
1,DL,3615.0,CID,ATL,20180117,3,1705,0,2009,0,...,0,0,0,0,0,0,0,0,0,jan
2,DL,3615.0,CID,ATL,20180118,4,1705,1928,2009,2231,...,0,0,0,0,142,0,0,0,0,jan
3,DL,3615.0,CID,ATL,20180119,5,1705,1657,2009,1952,...,0,0,0,0,0,0,0,0,0,jan
4,DL,3615.0,CID,ATL,20180120,6,1244,1231,1557,1522,...,0,0,0,0,0,0,0,0,0,jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,7,1800,1904,1925,2020,...,55,0,0,0,0,0,0,0,0,dec
649500,UA,4361.0,ROC,ORD,20181204,2,1855,1918,1956,2011,...,15,0,0,0,0,0,0,0,0,dec
649501,UA,4038.0,ORD,GRB,20181204,2,1010,1135,1115,1244,...,85,0,4,0,0,0,0,0,0,dec
649502,UA,4010.0,GRB,ORD,20181204,2,1200,1313,1320,1427,...,67,0,0,0,0,0,0,0,0,dec
649503,UA,3984.0,ORD,ROC,20181204,2,1536,1530,1820,1852,...,0,0,32,0,0,0,0,0,0,dec

In [8]:
#change numeric day of week to abbreviated name
day_dict = {1:'mon', 2:'tue', 3:'wed', 4:'thu', 5:'fri', 6:'sat', 7:'sun'}
day_list = combined['Day_Week'].to_list()
day_name = [day_dict[day_num] for day_num in day_list]
combined['Day_Week'] = day_name
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month
0,DL,3615.0,CID,ATL,20180116,tue,1705,1650,2009,1943,...,0,0,0,0,0,0,0,0,0,jan
1,DL,3615.0,CID,ATL,20180117,wed,1705,0,2009,0,...,0,0,0,0,0,0,0,0,0,jan
2,DL,3615.0,CID,ATL,20180118,thu,1705,1928,2009,2231,...,0,0,0,0,142,0,0,0,0,jan
3,DL,3615.0,CID,ATL,20180119,fri,1705,1657,2009,1952,...,0,0,0,0,0,0,0,0,0,jan
4,DL,3615.0,CID,ATL,20180120,sat,1244,1231,1557,1522,...,0,0,0,0,0,0,0,0,0,jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,sun,1800,1904,1925,2020,...,55,0,0,0,0,0,0,0,0,dec
649500,UA,4361.0,ROC,ORD,20181204,tue,1855,1918,1956,2011,...,15,0,0,0,0,0,0,0,0,dec
649501,UA,4038.0,ORD,GRB,20181204,tue,1010,1135,1115,1244,...,85,0,4,0,0,0,0,0,0,dec
649502,UA,4010.0,GRB,ORD,20181204,tue,1200,1313,1320,1427,...,67,0,0,0,0,0,0,0,0,dec
649503,UA,3984.0,ORD,ROC,20181204,tue,1536,1530,1820,1852,...,0,0,32,0,0,0,0,0,0,dec

In [9]:
#make factor-valued flag indicating whether a flight was late
arrival_delay = combined['Arr_Delay_Time_Actual'].to_list()

arrival_flag = []

for i in arrival_delay:
    if i > 0:
        arrival_flag.append(1)
    else:
        arrival_flag.append(0)

combined['Arr_Delay_Time_Actual_Flag'] = arrival_flag

In [10]:
#change departure time to time blocks
departure_time_list = combined['Sched_Dep_Time_OAG'].to_list()

departure_block = []

for i in departure_time_list:
    if 0 <= i <= 259:
        departure_block.append("late_night")
    elif 300 <= i <= 559:
        departure_block.append("early_morning")
    elif 600 <= i <= 859:
        departure_block.append("morning")
    elif 900 <= i <= 1159:
        departure_block.append("late_morning")
    elif 1200 <= i <= 1459:
        departure_block.append("early_afternoon")
    elif 1500 <= i <= 1759:
        departure_block.append("late_afternoon")
    elif 1800 <= i <= 2059:
        departure_block.append("evening")
    elif 2100 <= i <= 2359:
        departure_block.append("late_evening")

combined['Sched_Dep_Time_OAG_Block'] = departure_block
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month,Arr_Delay_Time_Actual_Flag,Sched_Dep_Time_OAG_Block
0,DL,3615.0,CID,ATL,20180116,tue,1705,1650,2009,1943,...,0,0,0,0,0,0,0,jan,0,late_afternoon
1,DL,3615.0,CID,ATL,20180117,wed,1705,0,2009,0,...,0,0,0,0,0,0,0,jan,0,late_afternoon
2,DL,3615.0,CID,ATL,20180118,thu,1705,1928,2009,2231,...,0,0,142,0,0,0,0,jan,1,late_afternoon
3,DL,3615.0,CID,ATL,20180119,fri,1705,1657,2009,1952,...,0,0,0,0,0,0,0,jan,0,late_afternoon
4,DL,3615.0,CID,ATL,20180120,sat,1244,1231,1557,1522,...,0,0,0,0,0,0,0,jan,0,early_afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649499,UA,4283.0,BUF,EWR,20181209,sun,1800,1904,1925,2020,...,0,0,0,0,0,0,0,dec,1,evening
649500,UA,4361.0,ROC,ORD,20181204,tue,1855,1918,1956,2011,...,0,0,0,0,0,0,0,dec,1,evening
649501,UA,4038.0,ORD,GRB,20181204,tue,1010,1135,1115,1244,...,4,0,0,0,0,0,0,dec,1,late_morning
649502,UA,4010.0,GRB,ORD,20181204,tue,1200,1313,1320,1427,...,0,0,0,0,0,0,0,dec,1,early_afternoon
649503,UA,3984.0,ORD,ROC,20181204,tue,1536,1530,1820,1852,...,32,0,0,0,0,0,0,dec,1,late_afternoon

In [14]:
import psycopg2
#!pip install config
import config
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [9]:
#CREATE DB
# Connect to PostgreSQL DBMS
con = psycopg2.connect("user=postgres password='XXXX'");
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#connect to postgresql dbms
conn = psycopg2.connect("user=postgres password='XXXX'");
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#obtain db cursor
cursor = con.cursor();
name_database = "airline_db"

#create table statement
sqlCreateDatabase = "create database "+name_database+";"

#create a table in postgres
cursor.execute(sqlCreateDatabase);

DuplicateDatabase: database "airline_db" already exists

In [12]:
#ONLY RUN IF YOU NEED TO DROP TABLE AND REPUSH TO POSTGRES
#connect to table
postgresConnection = psycopg2.connect("dbname=airline_db user=postgres password='XXXX'")

#get cursor object from database connection
cursor = postgresConnection.cursor()
sqlstmt = "DROP TABLE main_airline;"

cursor.execute(sqlstmt)
postgresConnection.commit()

In [12]:
#DO NOT NEED TO RUN
combined.to_csv('main_airline_2018.csv')

In [19]:
#load data
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:1316@localhost:5432/airline_db')
combined.to_sql('main_airline',engine)

In [11]:
combined = pd.read_csv('main_airline_2018.csv')

FileNotFoundError: [Errno 2] File main_airline_2018.csv does not exist: 'main_airline_2018.csv'

In [3]:
combined

,Unnamed: 0,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,...,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month,Arr_Delay_Time_Actual_Flag,Sched_Dep_Time_OAG_Block
0,0,DL,3518,ATL,FAY,20190123,wed,1703,2143,1824,...,0,0,0,0,0,0,0,jan,1,late_afternoon
1,1,DL,6045,LGA,CLT,20190122,tue,1500,1452,1728,...,0,0,0,0,0,0,0,jan,0,late_afternoon
2,2,DL,6275,DTW,GSP,20190118,fri,825,835,1035,...,0,0,0,0,0,0,0,jan,0,morning
3,3,DL,6275,GSP,DTW,20190124,thu,1110,1103,1305,...,0,0,0,0,0,0,0,jan,0,late_morning
4,4,DL,6059,CLT,LGA,20190122,tue,1200,1301,1407,...,33,0,61,0,0,0,0,jan,1,early_afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8092722,679991,UA,5477,ORD,CHS,20191229,sun,1220,1225,1540,...,0,0,0,0,0,0,0,dec,0,early_afternoon
8092723,679992,UA,5418,CHS,ORD,20191229,sun,1649,1638,1829,...,0,0,0,0,0,0,0,dec,0,late_afternoon
8092724,679993,UA,5608,ORF,ORD,20191228,sat,1845,1840,2023,...,0,0,0,0,0,0,0,dec,0,evening
8092725,679994,UA,5592,ORD,ORF,20191228,sat,1456,1449,1814,...,0,0,0,0,0,0,0,dec,0,early_afternoon
8092726,679995,UA,5829,DEN,RAP,20191202,mon,15,757,133,...,26,0,0,0,0,0,0,dec,1,late_night

In [ ]:

#load data to RDS
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:airlineproject@airline-db.c0dqcvhs1y58.us-east-2.rds.amazonaws.com/airline_db')
combined.to_sql('main_airline2',engine)

In [ ]:
df_small = combined.iloc[[0,1000]:;]

In [ ]:
#load data to RDS
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:airlineproject@airline-db.c0dqcvhs1y58.us-east-2.rds.amazonaws.com/airline_db')
combined.to_sql('main_airline',engine)

In [2]:
sample = pd.read_csv('sample.csv')
sample

,index,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,...,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month,Arr_Delay_Time_Actual_Flag,Sched_Dep_Time_OAG_Block
0,48712,AA,1487.0,ORD,DEN,20180203,sat,2015,2023,2157,...,0,0,0,0,0,0,0,feb,0,evening
1,547480,WN,3389.0,LAS,BUR,20180107,sun,2055,2104,2155,...,0,0,0,0,0,0,0,jan,1,evening
2,592345,AA,4545.0,MIA,BNA,20180111,thu,1110,1108,1240,...,0,0,0,0,0,0,0,jan,0,late_morning
3,29934,AA,1911.0,DFW,PHL,20180220,tue,906,937,1315,...,0,0,0,0,0,0,0,feb,1,late_morning
4,615637,UA,3842.0,ORD,RST,20180130,tue,925,917,1042,...,0,0,0,0,0,0,0,jan,0,late_morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,608592,DL,5881.0,LEX,DTW,20180107,sun,950,948,1117,...,0,0,0,0,0,0,0,jan,0,late_morning
199996,2185,DL,3745.0,BTV,LGA,20180219,mon,1215,1206,1348,...,0,0,0,0,0,0,0,feb,0,early_afternoon
199997,576370,AA,5851.0,BRO,DFW,20180114,sun,1740,1729,1918,...,0,0,0,0,0,0,0,jan,1,late_afternoon
199998,99006,AS,727.0,MCO,PDX,20180226,mon,1555,1540,1910,...,0,0,0,0,0,0,0,feb,0,late_afternoon
199999,107216,B6,1486.0,PIT,BOS,20180220,tue,1100,1046,1231,...,0,0,0,0,0,0,0,feb,0,late_morning

In [3]:
sample = sample.drop(columns='index')
sample

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport,month,Arr_Delay_Time_Actual_Flag,Sched_Dep_Time_OAG_Block
0,AA,1487.0,ORD,DEN,20180203,sat,2015,2023,2157,2152,...,0,0,0,0,0,0,0,feb,0,evening
1,WN,3389.0,LAS,BUR,20180107,sun,2055,2104,2155,2208,...,0,0,0,0,0,0,0,jan,1,evening
2,AA,4545.0,MIA,BNA,20180111,thu,1110,1108,1240,1225,...,0,0,0,0,0,0,0,jan,0,late_morning
3,AA,1911.0,DFW,PHL,20180220,tue,906,937,1315,1331,...,0,0,0,0,0,0,0,feb,1,late_morning
4,UA,3842.0,ORD,RST,20180130,tue,925,917,1042,1024,...,0,0,0,0,0,0,0,jan,0,late_morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,DL,5881.0,LEX,DTW,20180107,sun,950,948,1117,1113,...,0,0,0,0,0,0,0,jan,0,late_morning
199996,DL,3745.0,BTV,LGA,20180219,mon,1215,1206,1348,1313,...,0,0,0,0,0,0,0,feb,0,early_afternoon
199997,AA,5851.0,BRO,DFW,20180114,sun,1740,1729,1918,1927,...,0,0,0,0,0,0,0,jan,1,late_afternoon
199998,AS,727.0,MCO,PDX,20180226,mon,1555,1540,1910,1839,...,0,0,0,0,0,0,0,feb,0,late_afternoon
199999,B6,1486.0,PIT,BOS,20180220,tue,1100,1046,1231,1200,...,0,0,0,0,0,0,0,feb,0,late_morning

In [ ]:
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:airlineproject@airline-db.c0dqcvhs1y58.us-east-2.rds.amazonaws.com/airline_db')
sample.to_sql('sample',engine)