In [3]:
import pandas as pd

In [9]:
import os
raw_files = os.listdir('raw_asc')
print(raw_files)

['ontime.td.202009.asc', 'ontime.td.202008.asc', 'ontime.td.202012.asc', 'ontime.td.202011.asc', 'ontime.td.202010.asc', 'ontime.td.202105.asc', 'ontime.td.202104.asc', 'ontime.td.202103.asc', 'ontime.td.202102.asc', 'ontime.td.202101.asc']

In [43]:
df_list = []
for fn in raw_files:
    airline = pd.read_table('raw_asc/'+ fn, delimiter = "|", header = None, low_memory = False)
    df_list.append(airline)
total_df = pd.concat(df_list)
total_df.head()

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,DL,4628,NaN,NaN,9E,4628,TVC,DTW,20200908,2,...,0,NaN,NaN,0,0,0,0,NaN,FORM-1,N
1,DL,4628,NaN,NaN,9E,4628,TVC,DTW,20200909,3,...,0,NaN,NaN,0,0,0,0,NaN,FORM-1,N
2,DL,4628,NaN,NaN,9E,4628,TVC,DTW,20200910,4,...,0,NaN,NaN,0,0,0,0,NaN,FORM-1,N
3,DL,4628,NaN,NaN,9E,4628,TVC,DTW,20200911,5,...,0,NaN,NaN,0,0,0,0,NaN,FORM-1,N
4,DL,4628,NaN,NaN,9E,4628,TVC,DTW,20200912,6,...,0,NaN,NaN,0,0,0,0,NaN,FORM-1,N

In [44]:
# Look at one row of total_df
print(list(total_df.iloc[0]))

['DL', 4628, nan, nan, '9E', 4628, 'TVC', 'DTW', 20200908, 2, 1815, 1815, 1800, 1921, 1921, 1910, 0, 0, 66, 70, -15, -11, 4, 1810, 1854, 'N478PX', 10, 16, 44, nan, 0, 0, 0, 0, 0, 0, 0, 0, 0, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, nan, 0, 0, 0, 0, nan, 'FORM-1', 'N']

In [ ]:
# Drop columns that are empty everywhere
tota

In [26]:
form_3A_labels = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form3A.aspx')[2]

In [45]:
form_3A_labels.head(40)

,Field,Field Description,Data Type,Length,Comments
0,A1,Marketing Carrier code,Character,2,Two letter IATA code
1,B1,Marketing Carrier Flight number,Character,Max length of 4,NaN
2,A2,Scheduled Operating Carrier Code,Character,2,Two letter IATA code
3,B2,Scheduled Operating Carrier Flight number,Character,Max length of 4,NaN
4,A3,Actual Operating Carrier Code,Character,2,Two letter IATA code
5,B3,Actual Operating Carrier Flight Number,Character,Max length of 4,NaN
6,C,Departure airport code,Character,3,Three letter Airport code
7,D,Arrival airport code,Character,3,Three letter Airport code
8,E,Date of flight operation,Num,8,Format ccyymrndd
9,F,Day of the week of flight operation,Num,1,"Mon = 1 , Sun = 7"
10,G8,Scheduled departure time as shown in Official ...,Num,4,Local time 24 hour clock
11,H,Scheduled departure time as shown in CRS(selec...,Num,4,Local time 24 hour clock
12,I,Gate departure time (actual),Num,4,Local time 24 hour clock
13,J,Scheduled arrival time per OAG,Num,4,Local time 24 hour clock
14,K,Scheduled arrival time per CRS,Num,4,Local time 24 hour clock
15,L,Gate arrival time (actual),Num,4,Local time 24 hour clock
16,M,Difference between OAG and CRS scheduled depar...,Num,Max length of 4,In minutes (2 hours= 120 min) G minus H
17,N,Difference between OAG and CRS scheduled arriv...,Num,Max length of 4,In minutes - J minus K
18,O,Scheduled elapsed time per CRS,Num,Max length of 4,In minutes - K minus H
19,P,Actual gate-to-gate time,Num,Max length of 4,In minutes - L minus I
20,Q,Departure delay time (actual minutes),Num,Max length of 4,In minutes - I minus H
21,R,Arrival delay time (actual minutes),Num,Max length of 4,In minutes - L minus K
22,S,Elapsed time difference (actual minutes),Num,Max length of 4,In minutes - P minus O
23,T,Wheels-off time (actual),Num,4,Local time 24 hour clock
24,U,Wheels-on time (actual),Num,4,Local time 24 hour clock
25,V,Aircraft tail number,Character,6,NaN
26,W,Cancellation code,Character,1,"Values are A,B,C, and D"
27,X,Minutes late for Delay Code E - Carrier Caused,Num,Max length of 4,In minutes
28,Y,Minutes late for Delay Code F - Weather,Num,Max length of 4,In minutes
29,Z,Minutes late for Delay Code G - National Aviat...,Num,Max length of 4,In minutes
30,AA,Minutes late for Delay Code H - Security,Num,Max length of 4,In minutes
31,AB,Minutes late for Delay Code I - Late Arriving ...,Num,Max length of 4,In minutes
32,AC,First gate departure time (actual),Num,4,Local time 24 hour clock
33,AD,Total ground time away from gate,Num,Max length of 4,In minutes
34,AE,Longest ground time away from gate,Num,Max length of 4,In minutes
35,AF,Number of landings at diverted airports,Num,1,"1 to 5 for diversions, 9 designates a fly retu..."
36,AG,Diverted airport code 1,Character,3,Three letter Airport code
37,AH,Wheels-on time at diverted airport,Num,4,Local time 24 hour clock
38,AI,Total ground time away from gate at diverted a...,Num,Max length of 4,In minutes
39,AJ,Longest ground time away from gate at diverted...,Num,Max length of 4,In minutes

In [42]:
airline.dropna(how='all', axis=1, inplace=True)
airline

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,64,65,66,67,69,70
0,DL,3521,OO,3521.0,9E,5540,DTW,BNA,20210117,7,...,0,0,0,0,0,0,0,0,FORM-3A,N
1,DL,3544,OO,3544.0,9E,5539,ORD,DTW,20210131,7,...,0,0,0,0,0,0,0,0,FORM-3A,N
2,DL,3976,OO,3976.0,9E,5538,DTW,LAN,20210104,1,...,0,0,0,0,0,0,0,0,FORM-3A,N
3,DL,3976,OO,3976.0,9E,5539,LAN,DTW,20210104,1,...,0,0,0,0,0,0,0,0,FORM-3A,N
4,DL,3544,OO,3544.0,9E,5538,DTW,ORD,20210131,7,...,0,0,0,0,0,0,0,0,FORM-3A,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379385,UA,3726,NaN,NaN,ZW,3726,HSV,ORD,20210103,7,...,0,0,0,0,0,0,0,0,FORM-2A,N
379386,UA,3725,NaN,NaN,ZW,3725,ORD,PNS,20210103,7,...,0,0,0,0,0,0,0,0,FORM-2A,N
379387,UA,3724,NaN,NaN,ZW,3724,IAD,ROC,20210103,7,...,0,0,0,0,0,0,0,0,FORM-2A,N
379388,UA,3723,NaN,NaN,ZW,3723,IAD,AVL,20210103,7,...,0,0,0,0,0,0,0,0,FORM-2A,N
379389,UA,3721,NaN,NaN,ZW,3721,AVL,IAD,20210103,7,...,0,0,0,0,0,0,0,0,FORM-2A,N

In [41]:
form_3A_labels['Field']

0     A1
1     B1
2     A2
3     B2
4     A3
      ..
61    BF
62    BG
63    BH
64    BI
65    BJ
Name: Field, Length: 66, dtype: object

{'A1': 'A1',
 'B1': 'B1',
 'A2': 'A2',
 'B2': 'B2',
 'A3': 'A3',
 'B3': 'B3',
 'C': 'C',
 'D': 'D',
 'E': 'E',
 'F': 'F',
 'G8': 'G8',
 'H': 'H',
 'I': 'I',
 'J': 'J',
 'K': 'K',
 'L': 'L',
 'M': 'M',
 'N': 'N',
 'O': 'O',
 'P': 'P',
 'Q': 'Q',
 'R': 'R',
 'S': 'S',
 'T': 'T',
 'U': 'U',
 'V': 'V',
 'W': 'W',
 'X': 'X',
 'Y': 'Y',
 'Z': 'Z',
 'AA': 'AA',
 'AB': 'AB',
 'AC': 'AC',
 'AD': 'AD',
 'AE': 'AE',
 'AF': 'AF',
 'AG': 'AG',
 'AH': 'AH',
 'AI': 'AI',
 'AJ': 'AJ',
 'AK': 'AK',
 'AL': 'AL',
 'AM': 'AM',
 'AN': 'AN',
 'AO': 'AO',
 'AP': 'AP',
 'AQ': 'AQ',
 'AR': 'AR',
 'AS': 'AS',
 'AT': 'AT',
 'AU': 'AU',
 'AV': 'AV',
 'AW': 'AW',
 'AX': 'AX',
 'AY': 'AY',
 'AZ': 'AZ',
 'BA': 'BA',
 'BB': 'BB',
 'BC': 'BC',
 'BD': 'BD',
 'BE': 'BE',
 'BF': 'BF',
 'BG': 'BG',
 'BH': 'BH',
 'BI': 'BI',
 'BJ': 'BJ'}