In [3]:
import pandas as pd

In [9]:
import os
raw_files = os.listdir('raw_asc')
print(raw_files)

['ontime.td.202009.asc', 'ontime.td.202008.asc', 'ontime.td.202012.asc', 'ontime.td.202011.asc', 'ontime.td.202010.asc', 'ontime.td.202105.asc', 'ontime.td.202104.asc', 'ontime.td.202103.asc', 'ontime.td.202102.asc', 'ontime.td.202101.asc']

In [ ]:
for fn in raw_files:
    airline = pd.read_table('raw_asc/'+ fn, delimiter = "|", header = None, low_memory = False)
    print(airline.head())

   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200908   2  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200909   3  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200910   4  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200911   5  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  TVC  DTW  20200912   6  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  CAE  ATL  20200801   6  ...   0 NaN NaN   0
1  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200801   6  ...   0 NaN NaN   0
2  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200802   7  ...   0 NaN NaN   0
3  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200803   1  ...   0 NaN NaN   0
4  DL  4629  NaN NaN  9E  4629  DTW  DSM  20200804   2  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201201   2  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201203   4  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201204   5  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201206   7  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201207   1  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  BDL  DTW  20201126   4  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201108   7  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201109   1  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201112   4  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  CVG  BOS  20201113   5  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1    2   3   4     5    6    7         8   9   ...  61  62  63  64  \
0  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201001   4  ...   0 NaN NaN   0
1  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201002   5  ...   0 NaN NaN   0
2  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201004   7  ...   0 NaN NaN   0
3  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201005   1  ...   0 NaN NaN   0
4  DL  4628  NaN NaN  9E  4628  BOS  CVG  20201008   4  ...   0 NaN NaN   0

   65  66  67  68      69  70
0   0   0   0 NaN  FORM-1   N
1   0   0   0 NaN  FORM-1   N
2   0   0   0 NaN  FORM-1   N
3   0   0   0 NaN  FORM-1   N
4   0   0   0 NaN  FORM-1   N

[5 rows x 71 columns]
   0     1   2       3   4     5    6    7         8   9   ...  61  62  63  \
0  DL  4086  OO  4086.0  9E  5542  DTW  BNA  20210514   5  ...   0 NaN NaN
1  DL  3711  OO  3711.0  9E  5539  MSP  GRR  20210513   4  ...   0 NaN NaN
2  DL  5821  YX  5821.0  9E  5542  LGA  DCA  20210502   7  ...   0 NaN NaN
3  DL  5806  YX  5806.0  9E  5543  DCA  LGA  20210502   7  ...   0 NaN NaN
4  DL  5823  YX  5823.0  9E  5546  CLT  DTW  20210502   7  ...   0 NaN NaN

   64  65  66  67  68       69  70
0   0   0   0   0 NaN  FORM-3A   N
1   0   0   0   0 NaN  FORM-3A   N
2   0   0   0   0 NaN  FORM-3A   N
3   0   0   0   0 NaN  FORM-3A   N
4   0   0   0   0 NaN  FORM-3A   N

[5 rows x 71 columns]
   0     1    2       3   4     5    6    7         8   9   ...  61  62  63  \
0  DL  5811   YX  5811.0  9E  5538  MCI  LGA  20210405   1  ...   0 NaN NaN
1  DL  3744   OO  3744.0  9E  5539  DTW  MKE  20210401   4  ...   0 NaN NaN
2  DL  3675   OO  3675.0  9E  5540  MKE  DTW  20210401   4  ...   0 NaN NaN
3  DL  4628  NaN     NaN  9E  4628  ATL  HSV  20210401   4  ...   0 NaN NaN
4  DL  4628  NaN     NaN  9E  4628  ATL  HSV  20210402   5  ...   0 NaN NaN

   64  65  66  67  68       69  70
0   0   0   0   0 NaN  FORM-3A   N
1   0   0   0   0 NaN  FORM-3A   N
2   0   0   0   0 NaN  FORM-3A   N
3   0   0   0   0 NaN   FORM-1   N
4   0   0   0   0 NaN   FORM-1   N

[5 rows x 71 columns]