In [ ]:
#Project 3 - Notebook 3

In [1]:
#Dependencies
import numpy as np
import os
import psycopg2
import pandas as pd
import json
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
#Cloud DB Config
SQL_USERNAME = "postgres" #your personal username goes here
SQL_PASSWORD = "airlineproject" #your personal password goes here
DB_NAME = "airline_db" #The default name of the DB
DB_HOST = "airline-db.c0dqcvhs1y58.us-east-2.rds.amazonaws.com"
PORT = 5432
database_path = f"postgresql://{SQL_USERNAME}:{SQL_PASSWORD}@{DB_HOST}:{PORT}/{DB_NAME}"

In [3]:
from sqlalchemy import create_engine
engine = create_engine(database_path)

In [37]:
main_df = pd.read_sql_query('select "Mkt_Ccode", "Arr_Delay_Time_Actual" from main_airline;', con=engine)

In [39]:
main_df.head()

  Mkt_Ccode  Arr_Delay_Time_Actual
0        UA                      4
1        UA                     -5
2        UA                    -12
3        UA                     -9
4        UA                    -27

In [40]:
delay_means = main_df.groupby("Mkt_Ccode").mean()

In [47]:
Airline_codes = ["American Airlines", "Alaska Airlines", "JetBlue", "Delta", "Frontier","Allgiant Air","Hawaiian Airlines", "Spirit", "United", "Virgin America", "Southwest"] 
delay_means["airline_name"] = Airline_codes
delay_means

           Arr_Delay_Time_Actual       airline_name
Mkt_Ccode
AA                      6.835771  American Airlines
AS                      1.016560    Alaska Airlines
B6                     11.669289            JetBlue
DL                      3.095281              Delta
F9                     11.332853           Frontier
G4                      9.338770       Allgiant Air
HA                      1.477228  Hawaiian Airlines
NK                      5.412639             Spirit
UA                      9.608165             United
VX                      2.222807     Virgin America
WN                      3.777497          Southwest

In [48]:
delay_means.sort_values(by = ["Arr_Delay_Time_Actual"])

           Arr_Delay_Time_Actual       airline_name
Mkt_Ccode
AS                      1.016560    Alaska Airlines
HA                      1.477228  Hawaiian Airlines
VX                      2.222807     Virgin America
DL                      3.095281              Delta
WN                      3.777497          Southwest
NK                      5.412639             Spirit
AA                      6.835771  American Airlines
G4                      9.338770       Allgiant Air
UA                      9.608165             United
F9                     11.332853           Frontier
B6                     11.669289            JetBlue